

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8">
            <div id="timetable2" class="fc fc-ltr ui-widget"><%== @t.draw %></div>
        </div>
        <div class="col-md-3 col-sm-2"></div>
    </div>
</div>


<style>
    #footer{
        position: fixed !important;
    }
    #header {
        display: none;
    }
    #timetable2{
        margin-top: 20px !important;
    }
    .fc-time-grid-container{
        height: calc(745px - 135px) !important;
    }
</style>
