<section id="intro">
    <div class="container">
        <div class="row">
            <div class="background_img"></div>
            <div class="col-md-4 col-sm-3"></div>
            <div class="col-md-4 col-sm-6 window-wrapper">
                <div id="login-window" class="card">
                    <div class="card-header bgm-blue">
                        <h2>로그인</h2>
                    </div>
                    <div class="card-body card-padding" style="border: 1px solid #eaeaea;">
                        <a href="<%= user_facebook_omniauth_authorize_path %>" class="btn btn-default bgm-blue sns_login_btn"><span class="zmdi zmdi-facebook"></span> 페이스북 계정으로 로그인</a>
                        <a href="<%= user_google_oauth2_omniauth_authorize_path %>" class="btn btn-default bgm-red sns_login_btn"><span class="zmdi zmdi-google-plus"></span> 구글 계정으로 로그인</a>
                        <a href="<%= user_kakao_omniauth_authorize_path %>" class="btn btn-default sns_login_btn" style="background-color: #fdeb1d"><span class="zmdi zmdi-kakao"></span> 카카오 계정으로 로그인</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-3"></div>
        </div>
    </div>
</section>

<style>
    #footer{
        position: inherit;
        background: #fff;
    }
</style>