<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3"></div>
            <div class="col-md-4 col-sm-6 window-wrapper">
                <div id="login-window" class="card">
                    <div class="card-header bgm-blue">
                        <h2>로그인</h2>
                    </div>
                    <div class="card-body card-padding">
                        <a href="#" class="btn btn-default bgm-blue sns_login_btn"><span class="zmdi zmdi-facebook"></span> 페이스북 계정으로 1초만에 로그인</a>
                        <a href="#" class="btn btn-default bgm-red sns_login_btn"><span class="zmdi zmdi-google"></span> 구글 계정으로 1초만에 로그인</a>
                        <a href="#" class="btn btn-default bgm-orange sns_login_btn"><span class="zmdi zmdi-facebook"></span> 카카오 계정으로 1초만에 로그인</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-3"></div>
        </div>
    </div>
</section>

