
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>XBrain | Machine Learning For All</title>
    <meta name="author" content="XBrain">
    <meta name="description" content="">

    <link rel="stylesheet" href="/landing/style.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>

</head>
<body>



<div class="view">

    <div class="block nav">
        <div class="content">
            <div class="logo"></div>
            <div class="menu">
                <a class="menu-item din-reg" href="#product">Product</a>
                <a class="menu-item din-reg" href="#support">Support</a>
                <a class="menu-item din-reg" href="#team">Team</a>
                <a class="menu-item button din-reg" href="">Sign Up</a>
            </div>
        </div>
    </div>

    <div class="block intro">
        <div class="content">
            <div class="subblock intro-info">
                <h1 class="title din-light">Easy-to-use Machine-Learning for all</h1>
                <p class="text din-light">Harness the power of machine-learning for your business or research with a simple interface so you can focus on what matters.</p>

                <a class="button din-light" href="">Sign Up For Beta</a>
            </div>
            <div class="subblock intro-img"></div>
        </div>

        <img class="bg-white" src="/landing/bg-owhite-up.svg">
    </div>

    <div class="block product" id="product">
        <div class="content">
            <div class="subblock product-info">
                <div class="product-intro">
                    <span class="label">Product</span>
                    <h1 class="title din-light">Meet Alice</h1>
                    <p class="text din-light">Alice is a cloud-based Machine Learning assistant that helps developers and data scientists to build and deploy machine learning models.</p>
                </div>

                <div class="product-item pi-1 active">
                    <div class="icon"></div>
                    <div class="item">
                        <h2 class="subtitle din-reg">Intuitive Data Cleansing & Analysis</h2>
                        <p class="text din-light">Understand and prepare your datasets with Alice's Data Cleansing features.</p>
                    </div>
                </div>

                <div class="product-item pi-2">
                    <div class="icon"></div>
                    <div class="item">
                        <h2 class="subtitle din-reg">Robust Automated Machine Learning</h2>
                        <p class="text din-light">Alice does the heavy lifting in fine-tuning your model so you can focus on your work.</p>
                    </div>
                </div>

                <div class="product-item pi-3">
                    <div class="icon"></div>
                    <div class="item">
                        <h2 class="subtitle din-reg">Simple API Integration</h2>
                        <p class="text din-light">Easily integrate your machine learning models in minutes with RESTful API.</p>
                    </div>
                </div>


            </div>


            <div class="subblock product-img">

                <!-- 			Examples of still image, gif version, or video -->

                <!-- 			<img class="bg-product" src="img/product5.png"> -->

                <!--			<img class="bg-product" src="img/product-gif.gif"> -->

                <video class="bg-product" autoplay loop>
                    <source src="http://www.xbrain.team/img/product-vid2.mp4" type="video/mp4">
                    Your browser doesn't support HTML5 video tag.
                </video>



            </div>



        </div>
    </div>







    <div class="block support" id="support">
        <div class="content">
            <div class="subblock support-info">
                <span class="label">Support</span>
                <h1 class="title din-light">Still need help?</h1>
                <p class="text din-light">Do not worry if you have zero knowledge in Machine Learning. XBrain provides the right resource to support your experience with Alice.</p>


            </div>
            <div class="subblock support-items">
                <div class="support-item si-1">
                    <div class="icon"></div>
                    <div class="item">
                        <h2 class="subtitle din-reg">Developer Support</h2>
                        <p class="text din-light">Technical support resources for individual developers and data scientists to effectively get started with Alice.</p>
                    </div>
                </div>

                <div class="support-item si-2">
                    <div class="icon"></div>
                    <div class="item">
                        <h2 class="subtitle din-reg">Enterprise Support</h2>
                        <p class="text din-light">Top-to-bottom supports to help integration Alice into businesses, deploying machine learning models in production with Alice.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>










    <div class="block team" id="team">
        <div class="content">
            <div class="subblock team-info">
                <span class="label">Team</span>
            </div>
            <div class="subblock team-items">
                <div class="team-item jinyoung-choi" onclick="window.open('https://kr.linkedin.com/in/jinyoung-choi-4b36602b', 'mywindow');" style="cursor: pointer;">
                    <div class="img"></div>
                    <div class="scrim"></div>
                    <div class="item">
                        <h2 class="subtitle din-reg">Jinyoung Choi</h2>
                        <p class="text din-reg">Chief Executive Officer</p>
                    </div>
                </div>

                <div class="team-item jongmin-kim" onclick="window.open('https://kr.linkedin.com/in/jongmin-kim-b46b1289/en', 'mywindow');" style="cursor: pointer;">
                    <div class="img"></div>
                    <div class="scrim"></div>
                    <div class="item">
                        <h2 class="subtitle din-reg">Jongmin Kim</h2>
                        <p class="text din-reg">Lead Software Engineer</p>
                    </div>
                </div>

                <div class="team-item jongheon-jeong" onclick="window.open('https://kr.linkedin.com/in/jongheonj/en', 'mywindow');" style="cursor: pointer;">
                    <div class="img"></div>
                    <div class="scrim"></div>
                    <div class="item">
                        <h2 class="subtitle din-reg">Jongheon Jeong</h2>
                        <p class="text din-reg">Head of Research</p>
                    </div>
                </div>

                <div class="team-item anthony-cha" onclick="window.open('https://www.linkedin.com/in/anthonycha/en', 'mywindow');" style="cursor: pointer;">
                    <div class="img"></div>
                    <div class="scrim"></div>
                    <div class="item">
                        <h2 class="subtitle din-reg">Anthony Cha</h2>
                        <p class="text din-reg">Product Manager</p>
                    </div>
                </div>

                <div class="team-item daehyun-kim" onclick="window.open('https://kr.linkedin.com/in/daehyun-kim-6561b811a/en', 'mywindow');" style="cursor: pointer;">
                    <div class="img"></div>
                    <div class="scrim"></div>
                    <div class="item">
                        <h2 class="subtitle din-reg">Daehyun Kim</h2>
                        <p class="text din-reg">Software Engineer</p>
                    </div>
                </div>

            </div>



            <div class="subblock cta">
                <div class="cta-info">
                    <h1 class="title din-light">What are you waiting for?</h1>
                    <p class="text din-light">Alice is currently in closed beta. Sign up for an invite today and start harnessing the power of machine learning.</p>


                    <a class="button din-light" href="">Sign Up For Beta</a>
                </div>
            </div>



        </div>




        <img class="bg-white" src="/landing/bg-owhite-down.svg">
    </div>














    <div class="block footer">
        <div class="content">
            <div class="footer-line">
                <div class="logo"></div>
                <p class="copyright din-light"> ©2016 XBrain Inc. All rights reserved</p>
            </div>
            <div class="footer-info">
                <div class="info">
                    <h3 class="subtitle din-reg">Headquarter</h3>
                    <p class="text din-light">46 Sungmisan-ro 1-gil,<br>Mapo-gu,<br>Seoul, Korea</p>
                </div>
                <div class="info">
                    <h3 class="subtitle din-reg">R&D Labs</h3>
                    <p class="text din-light">#102 77 Chungam-ro,<br>Pohang-si,<br>Gyungsangbuk-do, Korea</p>
                </div>
                <div class="info">
                    <h3 class="subtitle din-reg">Contact</h3>
                    <p class="text din-light">+82 70 8820 7277<br><a href="">info@xbrain.team</a></p>
                </div>
            </div>
        </div>
    </div>





</div>






<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="js/lib/jquery-2.1.4.min.js"><\/script>')</script>-->
<script type="text/javascript" src="/landing/d3.min.js"></script>
<script src="/landing/main.js"></script>


<!-- Google Analytics -->
<!--
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
-->
</body>
</html>
