<section id="main">
    <section id="content">
        <div class="container">
            <div class="block-header">
                <h2><%= @table_name %><small>아래의 시간표를 드래그 해서 되는 시간을 표시하세요! 다른 사람들과 함께 가장 많은 사람들이 되는 시간을 확인 할 수 있습니다!</small></h2>

                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-check-all"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <style>
                    .fc-toolbar{
                        height: 50px !important;
                        background-image: none !important;
                        background-color: #fdce9d !important;
                    }
                    .fc-toolbar:before{
                        background: #ae81ff !important;
                    }
                    .fc-center{
                        margin-top: -12.5px !important;
                    }

                    .fc-day-grid{
                        display: none !important;
                    }
                </style>

                <div id="calendar"></div>

            </div>
        </div>
    </section>
</section>

<style>
    #footer{
        position: fixed !important;
    }
</style>

<%= javascript_include_tag 'prototype' %>