<section id="groups_page">
    <div class="">
        <div class="col-xs-4 col-md-3 bgm-lightblue" style="padding: 50px 5px 15px; position: fixed; height: 100%;">
            <div class="zone">
                <div class="my-profile-image" style="background-image: url(<%= current_user.img %>)">
                    <span><%= current_user.name %></span>
                </div>
            </div>
            <ul class="zone">
                <li class="active">참여중인 그룹</li>
                <li>공유된 요청</li>
                <li>자료 보관함</li>
            </ul>
        </div>
        <div id="groups_container" class="col-xs-offset-4 col-xs-8 col-md-offset-3 col-md-9">
            <div class="">
                <%= render partial: '/groups/partials/group_card', locals: {add_mode: true} %>

                <% unless @groups.count.zero? %>
                    <%= render partial: '/groups/partials/group_card', collection: @groups, as: :group, locals: {add_mode: false} %>
                <% end %>
            </div>
        </div>
    </div>
</section>

<style>
    #footer{
        display: none !important;
        position: fixed !important;
        background: #ffffff !important;
    }
</style>