// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (max-width: 767px) {
    #groups_container .card-in-group{
        width: 220px !important;
        height: 220px !important;
    }
    #group_card-add #group-add_btn{
        top: 50px !important;
    }
    #groups_container{
        padding: 25px !important;
        padding-bottom: 110px !important;
    }
    .bgm-lightblue{
        padding-top: 30px !important;
    }
    .zone .my-profile-image{
        width: 80px !important;
        height: 80px !important;
    }
    .zone .my-profile-image span{
        top: 85px !important;
    }
}


#groups_page{
     margin-top: 72px !important;
}

#group_card-add{
    opacity: 0.7;
    
    .zmdi {
        color: #fff;
        font-size: 80px;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        
        &:hover{
            color: rgba(255, 255, 255, 1);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
    
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(45, 75, 111);
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
    #group-add_btn{
        position: absolute;
        z-index: 2;
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #fff;
        font-style: italic;
        top: 80px;
    }
}


/*
 * 전체 그룹 보기 페이지 / 그룹 컨테이너
 */
#groups_container{
    padding: 40px;
    
    & > .card{
        background: none;
        box-shadow: none;
        
        & > .card-header {
            h1{
                small{
                    position: relative;
                    top: 3px;
                    margin-left: 10px;
                    font-size: 20px;
                }
            }
    
            .btn-float {
                right: 0;
                bottom: 0;
            }
        }
    }
    
    .card-in-group{
        width: 275px;
        height: 275px;
        background: #000;
        border-radius: 3px;
        position: relative;
        display: inline-block;
        margin: 10px 10px 20px;
        
        &.card-white{
            background: #FFFFFF;
        }
        
        .card-header {
            
            .profile-badge{
                position: absolute;
                right: 25px;
                bottom: -40px;
                z-index: 1;
                width: 75px;
                height: 75px;
                line-height: 45px !important;
                padding: 0;
                
                img{
                    width: 71px;
                    height: 71px;
                }
            }
        }
    
        .card-body{
            height: 185px;
    
            .updated_at_msg{
                position: relative;
                float: right;
                bottom: -100px;
                font-size: 12px;
                color: #b3b3b3;
            }
        }
    }
}

// 그룹개설 버튼 반응형 제어
@media (max-width: 991px) { // @screen-sm-max
    #groups_container > .card > .card-header > .btn-float{
        display: block
    }
    #group_card-add { display: none !important }
}
@media (min-width: 992px) { // @screen-md-min
    #groups_container > .card > .card-header > .btn-float{
        display: none
    }
    #group_card-add { display: inline-block }
}



/*
 * 좌측 사이드 바
 */

#my-nav{
    padding: 40px 5px 15px;
    position: fixed;
    left: 0;
    height: 100%;
}

.zone{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(240, 240, 240, 0.75);
    padding-left: 0;
    
    li{
        text-transform: capitalize;
        list-style: none;
        text-align: left;
        color: #FFFFFF;
        font-size: 13px;
        padding: 10px 20px;
        width: 100%;
        cursor: pointer;
        border-radius: 3px;
        font-weight: bold;
        
        &.active{
            background: linear-gradient(to right, rgba(12, 93, 183,1),rgba(12, 93, 183,0));
        }
        
        &:first-child{
            margin-top: 15px;
        }
        
        &:hover{
            //background-color: #35537f;
        }
    }
    
    .my-profile-image{
        width: 100px;
        height: 100px;
        border: 1px solid #f0f0f0;
        border-radius: 100%;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #B3B3B3;
        margin-bottom: 25px;
        
        span{
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            top: 110px;
            position: relative;
        }
    }
}

/*
 * 그룹 생성 페이지
 * ----------------------
 */
#new_group .fileinput{
    padding: 20px 0 0;
    width: 150px;
    height: 150px;
    cursor: pointer;
    
    .fileinput-preview{
        width: 150px;
        height: 150px;
        padding: 0;
        background: url(/img/default-user-image.png), center, no-repeat;
        background-size: cover;
        
        img{
            object-fit: cover;
            overflow: hidden;
            width: 300px;
            height: 300px;
            margin-top: -5px;
            background-color: #000000;
        }
    }
    
    &:hover div:not(.thumbnail){
        opacity: 1;
    }
    
    div{
        
        &:not(.thumbnail){
            position: relative;
            top: -36px;
            opacity: 0;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
    
            a.fileinput-exists{
                position: absolute;
                top: -120px;
                right: 7px;
                padding: 0;
                background: none;
                color: #FFFFFF;
                font-size: 20px;
                font-weight: bolder;
                border-radius: 50%;
                opacity: 1;
                height: 0;
                text-shadow: 0 0 5px #000;
            }
        }
        
        span.btn-file{
            width: 148px;
            background: rgba(0, 0, 0, 0.5);
            margin: 0 1px;
        }
    }
}

#new_group{
    .profile-group {
        .form-group {
            margin-bottom: 30px;
        }
    }
    
    .actions{
        margin-top: 30px;
        text-align: center;
        
        input{
            border: 0;
            color: #fff;
            background: #547eb8;
            padding: 6px 12px;
            border-radius: 2px;
            box-shadow: 0 3.5px 3px #d3d3d3;
        }
    }
    
    .radio{
        p{
            font-size: 13px;
            font-weight: bold;
            
            small{
                display: inline-flex;
                font-weight: 500;
            }
        }
        
        .input-helper{
            &:before,
            &:after {
                position: absolute;
                top: 0;
                bottom: 30px;
                margin: auto;
            }
        }
    }
}