.flash-message{
    position: absolute;
    top: 50px;
    right: 2%;
    
    p.open{
        opacity: 1;
        margin: 0;
        padding: 12px 24px;
        background: #f19090;
        color: #fff;
        border-radius: 2px;
        box-shadow: 1px 1px 5px #9d9d9d;
        font-weight: bold;
    }
}